<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Intro</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>Pocket Therapist Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/java.png}" alt="Java Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Java POJO Concepts Learned</h5>
                    <p class="card-text">
                        <ol>
                            <li>Encapsulation: bundling the data (variables) and the methods (functions) that work on the data into a single unit called a class.</li>
                            <li>Inheritance: you can create a new class (child class) based on an existing class (parent class). The child class inherits the attributes and behaviors of the parent class.</li>
                            <li>Abstraction: a way to define the essential functions or behaviors that users need to work with, while hiding the inner workings and complexities. Ex: private vs public variables</li>
                            <li>Polymorphism: objects of different classes can be treated as objects of a common parent class. This allows you to write more flexible code because you can use the same method or interface to work with different types of objects.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/therapist.png}" alt="Spring Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Our Project</h5>
                    <p class="card-text">
                        <ol>
                            <li>Your Pocket Therapist uses an AI Face algorithm to accurately understand the user's emotions and provide advice/quotes in response.</li>
                            <li>Includes an emotion detector to detect expressions in images and output emotions that link directly to corresponding quotes.</li>
                            <li>Made by Vivian, Tanisha, Sreeja, and Isabelle</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Backend System</h5>
                    <p class="card-text">
                        <img class="card-img-top" th:src="@{/images/backendmodel.png}" alt="Java Persistence" height="500">
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>